

.icon-button {
  position: relative;
  display: flex;

  &__content {
    display: flex;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--text-light-rgb), 0.05);
    height: 32px;
    width: 32px;
    border-radius: 6px;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  svg {
    height: 18px;
    width: 18px;
    z-index: 10;
  }

  &__badge {
    padding: 2px;
    position: absolute;
    top: -6px;
    right: -7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    min-width: 16px;
    background-color: var(--primary-color);

    span {
      display: block;
      font-weight: 600;
      font-size: 11px;
      color: var(--text-light);
    }
  }

  &--small {
    svg {
      height: 16px;
      width: 16px;
    }

    &::before {
      height: 25px;
      width: 25px;
    }
  }

  &--large {
    svg {
      height: 26px;
      width: 26px;
    }

    &::before {
      height: 46px;
      width: 46px;
    }
  }

  &--light{
    &::before {
      background-color: rgb(var(--text-light-rgb), 0.05);
    }
  }

  &--filled {
    &::before {
      opacity: 1;
      background-color: var(--secondary-light);
      border: 1px solid var(--secondary-light);
    }
  }

  &--red {
    &::before {
      background-color: rgb(var(--red-rgb), 0.1);
    }

    svg {
      path{
        fill: var(--red);
      }
    }

    &:hover{
      svg{
        path{
          fill: var(--red);
        }
      }
    }
  }

  &--active{
    &::before {
      opacity: 1;
    }
  }
}
