.label-changer{
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--secondary-light);
  padding: 5px 5px;
  border-radius: 5px;

  span{
    min-width: 20px;
    outline: 0;
    color: #87909E;
    font-size: 13px;
    gap: 9px;
    white-space: nowrap;
  }

  &:focus-within{
    background-color: var(--secondary-light);

    .icon-button{
      svg{
        color: var(--text-light);
      }
    }

    span{
      color: var(--text-light);
    }
  }

  .icon-button{
    margin-right: 3px;
    cursor: grab;

    svg{
      color: #87909E;
    }
  }
}