

.tooltip {
    $self: &;
    display: flex;
    position: relative;
    width: fit-content;
  
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 6px;
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--text-light);
      border-radius: 8px;
      z-index: 30;
      opacity: 0;
      animation-name: fade;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
  
      span {
        color: var(--black) !important;
        font-size: 12px !important;
        white-space: nowrap !important;
        display: flex;
        align-items: center;
      }
  
      &::before {
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent var(--text-light) transparent;
      }
    }

    &--right{
      .tooltip{
        &__content{
          left: unset;
          right: -5px;
          transform: none;

          &::before {
            left: 88%;
          }
        }
      }
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }