
@import "styles/variables.scss";

.transparent-button {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: #8A6FF1;
  border-radius: 5px;

  svg {
    margin-right: 10px;
    height: 15px;
    width: 15px;

    path {
      fill: #8A6FF1;
    }
  }

  &:hover {
    background-color: rgba(#8A6FF1, 0.2);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
