


.transparent-button {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-radius: 5px;

  svg {
    margin-right: 10px;
    height: 15px;
    width: 15px;

    path {
      fill: var(--primary-color);
    }
  }

  &:hover {
    background-color: rgb(var(--primary-color-rgb), 0.2);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
