# TEMP
/src/
/build/
/public/
nodestation.config.js

# DATABASE
/.db/
/.db-test/

# ENV
.env

# UPLOADS
/uploads/

# PLUGINS
/plugins/
# NODE_MODULES
node_modules/
package-lock.json

# CONFIG
/config/

# DOCKER
Dockerfile
docker-compose.yml
.dockerignore

#SYSTEM CONFIG
.DS_Store
*storybook.log
