# TEMP
.nodestation
/src/
dist/

# DATABASE
.db
.db-test

# ENV
.env

# UPLOADS
uploads

# NODE_MODULES
node_modules/
package-lock.json

# DOCKER
Dockerfile
docker-compose.yml
.dockerignore

#SYSTEM CONFIG
.DS_Store