.table__user-endpoint-name{
  display: flex;
  align-items: center;
  gap: 10px;

  &__badge{
    background-color: #7368F0;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
  }

  span{
    display: flex;
    align-items: center;

    svg{
      height: 20px;
      width: 20px;
      color: #FF4646;
    }
  }
}