.table-stack{
flex: 1;
display: flex;
flex-direction: column;

&__regular{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  gap: 5px;

  svg{
    height: 18px;
    width: 18px;
    opacity: 0.5;
  }
}

  &__scroll__wrapper{
    height: 100%;
  }

  &__header{
    min-width: fit-content;

    &__row{
      display: flex;
      border-bottom: 1px solid #3C414B;
      width: fit-content;
      height: 40px;
      min-width: 100%;
    }

    &__col{
      display: flex;
      padding: 0 10px;
      position: relative;
      align-items: center;
      gap: 5px;
      border-right: 1px solid #3C414B;
      height: 40px;
      min-width: 100px;

      .table__sort{
        display: none;
      }

      &:last-child{
        border-radius: none;
      }

      &:first-child{
        min-width: unset;
        flex: 0 !important;
        width: 40px !important;
        border-right: 1px solid #3C414B !important;
      }
    
      span{
        gap: 16px;
        display: flex;
        align-items: center;
        color: #647082;
        font-size: 13px;
      }

      &__resizer{
        position: absolute;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: rgba(#8A6FF1, 0.4);
        cursor: col-resize;
        user-select: none;
        touch-action: none;
        opacity: 0;
      
        &.ltr{
        right: 0;
        }
      
        &.isResizing{
          background-color: rgba(#8A6FF1, 0.4);
          opacity: 1;
        }
      
        &:hover{
          opacity: 1;
      
        }
      }
    }
  }

  &__body{
    &__row{
      display: flex;
      border-bottom: 1px solid #3C414B;
      width: fit-content;
      height: 40px;
      min-width: 100%;
      position: relative;

      &:hover{
        .table-stack{
          &__body{
            &__row{
              &__action{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                display: flex;
              }
            }
          }
        }
      }

      &__action{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        display: none;
      }

      &--disabled{
        .table-stack{
          &__body{
            &__col{
              &:first-child{
                span{
                  opacity: 1;
                }
              }
            
              span{
                opacity: 0.7;
              }
            }
          }
        }
      }


      &:hover{
        cursor: pointer;
        background-color: #262A30;

        .table-stack{
          &__body{
            &__row{
              &__actions{
                display: flex;
              }
            }
          }
        }
      }

      &__actions{
        padding: 0 15px;
        display: none;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0;
        bottom: 0;
        gap: 15px;
      }
    }

    &__col{
      padding: 0 10px;
      display: flex;
      align-items: center;
      border-right: 1px solid #3C414B;
      white-space: nowrap;
      overflow: hidden;        
      text-overflow: ellipsis;
      min-width: 100px;

      &:first-child{
        min-width: unset;
        flex: 0 !important;
        width: 40px !important;
        overflow: unset;
        border-right: 1px solid #3C414B !important;
      }
    }
  }

  &--full-width{
    .table-stack{
      &__header{
        &__col{
          flex: 1;
          border-right: none;

          &__resizer{
            display: none;
          }
        }
      }

      &__body{
        &__col{
          flex: 1;
          border-right: none;
        }
      }
    }
  }

  &--disabled-select{
    .table-stack{
      &__header{
        &__col{
          &:first-child{
            min-width: unset;
            flex: 1 !important;
            width: unset !important;
            border-right: none !important;
          }
        }
      }
    }

    .table-stack{
      &__body{
        &__col{
          &:first-child{
            min-width: unset;
            flex: 1 !important;
            width: unset !important;
            border-right: none !important;
          }
        }
      }
    }
  }

  &--sortable{
    .table-stack{
      &__header{
        &__col{
          cursor: pointer;

          &:hover{
            background-color: #262A30;
            border-bottom: 1px solid #3C414B;
    
            .table__sort{
              display: flex;
            }
          }
        }
      }
    }
  }
}
