.key-viewer{
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 3px;

  &--no-margin{
    margin-left: 0;
  }

  &__item{
    padding: 0 3px;
    background-color: rgba(#fff, 0.1);
    min-width: 20px;
    width: fit-content;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 12px;
  }

  span{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
}