

.dashboard-layout-status-bar {
  padding: 0px;
  $self: &;
  height: 30px;
  width: calc(100% - 270px);
  background-color: var(--secondary-dark);
  border-top: 1px solid var(--secondary-light);
  position: fixed;
  bottom: 0px;
  left: 270px;
  user-select: none;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__col{
    display: flex;
    align-items: center;

    &__button{
      padding: 0 8px;
      font-weight: 500;
      font-size: 13px;
      height: 30px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--text-dark);

      &.active{
        color: var(--success);

        svg{
          color: var(--success);
        }
      }
  
      svg{
        color: var(--text-dark);
        height: 16px;
        width: 16px;
      }
  
      &:hover{
        background-color: var(--secondary-light);
      }
    }

  }


}
