

.select {
  font-size: 14px;
  outline-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content{
    position: relative;
    z-index: 12;


    label {
      display: block;
      margin-left: -5px;
      margin-bottom: 5px;
      padding: 0 5px;
      color: var(--text-dark);
      font-size: 13px;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      background-color: var(--background-light);
      transition: all ease 0.2s;
      pointer-events: none;
      font-size: 14px;
  
      span{
        color: var(--text-dark);
      }
    }

    > button {
      padding: 0 15px;
      border-radius: 8px;
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      border: 1px solid var(--secondary-light);
      color: var(--text-light);
  
      > svg{
        height: 18px;
        width: 18px;
        color: var(--secondary-light);
      }
  
      span {
        display: flex;
        align-items: center;
        gap: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
  
        > svg {
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  &--filled{
    label{
      left: 15px;
      top: 0;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  &__custom-button{
    width: fit-content;
  }

  &__options {
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--secondary-light);
    border-radius: 5px;
    min-width: 100%;
    max-height: 242px;
    box-shadow: 0px 4px 6px -3px rgb(var(--black-rgb), 0.2);
    z-index: -100;

    &__action{
      padding: 10px;

      > button{
        width: 100%;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start !important;
      text-align: left;
      padding: 0 10px;
      color: var(--background-light);
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      width: 100%;
      gap: 15px;
      color: var(--text-light);
      border-radius: 5px;
      height: 35px;

      &__selected-icon{
        position: absolute;
        right: 13px;
        display: flex;

        svg{
          height: 15px;
          width: 15px;
        }
      }

      > svg {
        height: 18px;
        width: 18px;
      }

      img {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        background-color: var(--secondary-light);
      }
    }
  }

  &__error {
    display: block;
    margin-top: 5px;
    color: var(--red);
    font-size: 13px;
  }

  &--active {
    position: relative;
    z-index: 1000;

    > button {
      border-color: var(--secondary-light);

      > svg {
        transform: rotate(-180deg);

        path{
          stroke: var(--secondary-light);
        }
      }
    }
  }

  &--red {
    .select{
      &__content{
        > button {
          border-color: rgba(var(--red), 0.8);
        }
      }
    }
  }

  &--selected {
    > span {
      color: var(--text-light);
    }
  }

  &--custom-value{
    .select__content{
      > button{
        height: 45px;
      }
      }
    }

  &--top {
    .select {
      &__options {
        top: unset;
        bottom: calc(100% + 10px);
      }
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }


}
