.table__new-message-name{
  display: flex;
  align-items: center;
  gap: 10px;

  &__badge{
    background-color: #7368F0;
    height: 6px;
    width: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
  }
}