

.table__user-media{
  display: flex;
  align-items: center;
  gap: 10px;

  &__photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;

    &__placeholder{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-light);
      height: 100%;
      width: 100%;

      svg{
        height: 18px;
        width: 18px;

        path{
          stroke: var(--text-dark);
        }
      }
    }

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}