

.endpoints_table_section{
    display: flex;
    flex-direction: column;

    &--dragging{
        background-color: var(--secondary-light);

        .label-changer{
            background-color: var(--secondary-light);
        }
    }

    &:last-child{
        margin-bottom: 0;
    }

    .label-changer{
        margin-bottom: 10px;
    }

    &__header{
        padding-bottom: 0px;
        border-bottom: 1px solid var(--secondary-light);
    }
}