.list{
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  &__content{
    &__row{
      
      &:first-child{
        .list__form-field-item{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }

      &:last-child{
        .list__form-field-item{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: 0;
        }
      }
    }
  }
}