.cm-theme{
  overflow: hidden;
  height: 100%;
  border-radius: 0 !important;

  * {
    scrollbar-width: auto;
    scrollbar-color: #868F9D #30353D;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #30353D;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #868F9D;
    border-radius: 10px;
    border: 3px solid #30353D;
  }

  .cm-editor{
    background-color: #30353D;
    height: 100%;


    .cm-gutters{
      background-color: #0000003b;
    }
  }

  .cm-scroller{
    /* ===== Scrollbar CSS ===== */
  /* Firefox */

  }
}

.cm-tooltip-autocomplete{
  border-radius: 5px;
  overflow: hidden;

  > ul{
    > li{
      display: flex;
      align-items: center;
    height: 30px !important;
    }
  }
}