.dragOrderInput{
  padding-top: 15px;
  border-top: 1px solid var(--text-dark);

  &__content{
    min-height: 30px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: var(--text-light);
    font-weight: 400;

    &__header{
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;
    }

    > span{
      display: block;
      font-size: 14px;
      color: var(--text-dark);
      font-weight: 400;
    }

    .input{
      margin-bottom: 5px;
    }

    .drag-order-select__content__item{
      height: 35px;
      padding: 0 5px;

      &__label{
        gap: 10px;

        .icon-button{
          cursor: grab;

          &::before{
            display: none;
          }
        }
      }
    }
  }
}