.dashboard-layout {
  display: flex;
  flex-direction: column;

  &__wrapper{
    display: flex;
    flex: 1;
  }

  &__content{
    flex: 1;
    position: relative;
    padding-bottom: 30px;
    // overflow: hidden;
  }
}
