

.dropdown {
  $self: &;
  position: relative;

  &__button{
    &--active{

      button{
        background-color: rgb(var(--text-light-rgb), 0.05);

        svg{
          rect{
            fill: var(--secondary-light) !important;
          }
        }
      }
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 7px);
    right: 0;
    box-shadow: 0px 4px 6px -3px rgb(var(--black-rgb), 0.2);
    z-index: 10;
  }

  &--top {
    #{ $self }__content {
      bottom: calc(100% + 15px);
      top: unset;
    }
  }

  &--bottom {
    #{ $self }__content {
      top: calc(100% + 15px);
      bottom: unset;
    }
  }

  &--left {
    #{ $self }__content {
      left: 0;
      right: unset;
    }
  }

  &--right {
    #{ $self }__content {
      right: 0;
      left: unset;
    }
  }
}
