.dropdown {
  $self: &;
  position: relative;

  &__button{
    &--active{

      button{
        background-color: rgba(#fff, 0.05);

        svg{
          rect{
            fill: #30353D !important;
          }
        }
      }
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 7px);
    right: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.10));
    z-index: 10;
  }

  &--top {
    #{ $self }__content {
      bottom: calc(100% + 15px);
      top: unset;
    }
  }

  &--bottom {
    #{ $self }__content {
      top: calc(100% + 15px);
      bottom: unset;
    }
  }

  &--left {
    #{ $self }__content {
      left: 0;
      right: unset;
    }
  }

  &--right {
    #{ $self }__content {
      right: 0;
      left: unset;
    }
  }
}
