.photo-form{
  &__content{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__image{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    &__loader{
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.4);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg, img{
      height: 100%;
      width: 100%;
    }

    img{
      object-fit: cover;
    }
  }
}