@import "styles/variables.scss";

.dropdown-menu {
  $self: &;
  display: flex;
  flex-direction: column;
  padding: 3px;
  background-color: #3C414B;
  border: 1px solid #2b3441;
  border-radius: 7px;
  overflow: hidden;

  &__item {
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #F0F1F3;
    font-size: 13px;
    border-radius: 5px;
    white-space: nowrap;

    &--disabled{
      pointer-events: none;
    }

    svg {
      margin-right: 10px;
      height: 16px;
      width: 16px;
    }

    &:hover {
      background-color: #30353D;
    }

    &--action{
      color: #88FC85;
    }

    &--warning {
      color: #ea3a3d;
    }
  }

  &--white{
    background-color: #fff;
    
    .dropdown-menu{
      &__item{
        color: #000;
      }
    }
  }
}
