

.dropdown-menu {
  $self: &;
  display: flex;
  flex-direction: column;
  padding: 3px;
  background-color: var(--secondary-light);
  border-radius: 7px;
  overflow: hidden;

  &__item {
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: var(--text-light);
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;

    &--disabled{
      pointer-events: none;
    }

    svg {
      margin-right: 10px;
      height: 16px;
      width: 16px;
    }

    &:hover {
      background-color: var(--secondary-dark);
    }

    &--action{
      color: var(--success);
    }

    &--warning {
      color: var(--error);
    }
  }

  &--white{
    background-color: var(--text-light);
    
    .dropdown-menu{
      &__item{
        color: var(--black);
      }
    }
  }
}
