

.table__boolean{
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: var(--secondary-light);
  color: var(--text-light);
  border-radius: 5px;

  > span{
    font-size: 12px;
    font-weight: 500;
  }
}