.server-control{
    border-top: 1px solid var(--secondary-light);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: #EB932C; 
    height: 30px;

    &__left{
        display: flex;
        align-items: center;
        gap: 3px;

        &__icon{
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;

            > svg{
                height: 14px;
                width: 14px;
                color: var(--text-light);
            }

            .loader{
                &__progress{
                    height: 17px;
                    width: 17px;
                }
            }
        }

        span{
            font-weight: 500;
            font-size: 13px;
        }

        &__status{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &__right{
        display: flex;
        align-items: center;
        gap: 10px;

        .icon-button{
            &::before {
                background-color: rgb(var(--text-light-rgb), 0.15);
            }
        }
    }

    &--2{
        background-color: var(--success); 
     }

     &--3{
        background-color: var(--primary-color); 
     }

     &--4{
        background-color: #ED4343; 
     }
}