.request-example{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-light);
  padding: 10px;
  border-radius: 5px;
  width: 100%;

  &__header{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-light);
    position: relative;
    width: 100%;

    &__icon{
      padding: 0 10px;
      position: absolute;
      right: 0;
    }

    &__url{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;


      > span{
        width: 100%; /* Określ szerokość elementu */
        overflow: hidden; /* Ukryj przepełniony tekst */
        white-space: nowrap; /* Zablokuj zawijanie tekstu */
        text-overflow: ellipsis; 
        padding-right: 34px;
      }
    }

    svg{
      height: 18px;
      width: 18px;
      color: var(--text-light);
    }
  }

  &__content{
    padding-top: 10px;

    p{
      white-space: pre-wrap;
    }


    &__body{
      color: white;
    }
    &__key{
      color: white;
    }
    &__value{
      color: white;
    }
  }
}