

.input {
  $self: &;
  position: relative;

  label {
    margin-left: -5px;
    display: block;
    padding: 0 5px;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--auth-background);
    transition: all ease 0.2s;
    pointer-events: none;
    font-size: 14px;

    span{
      color: var(--text-dark);
    }

    a{
      font-size: 13px;
      text-decoration: underline;
    }
  }

  &--filled, &:focus-within {
    label{
      left: 15px;
      top: 0;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  &__content {
    height: 40px;

    input {
      padding: 0 15px;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--secondary-light);
      color: var(--text-light);
      font-weight: 400;

      &:focus {
        border-color: var(--text-dark);
      }
    }

    &__wrapper{
      height: 100%;
      display: flex;
      position: relative;
    }
  }

  &__aside{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
  }

  &--disabled{
    opacity: 0.5;
  }

  &--active {
    #{ $self }__content {
      border-color: var(--red);
    }
  }

  &--is-aside{
    .input{
      &__field{
        padding-right: 70px !important;
      }
    }
  }

  &--red {
    #{ $self } {
      &__content {
        input {
          border-color: rgba(var(--red), 0.8);
        }
      }

      &__error {
        display: block;
        margin-top: 5px;
        color: var(--red);
        font-size: 13px;
      }
    }
  }

  &--light{
    label{
      background-color: var(--background-light);
    }
    
    input{
      background-color: transparent;
      border: 1px solid var(--secondary-light);
    }
  }

  &--brighter{
    input{
      background-color: transparent;
      border: 1px solid var(--text-dark);

      &::placeholder{
        color: var(--text-dark);
      }
    }
  }

  &--dark{
    label{
      background-color: var(--background-light);
    }
    
    input{
      background-color: transparent;

      border-color: var(--secondary-light);
    }
  }

  &--id{
    input{
      background-color: var(--text-dark);
    }
  }

  &--transparent-border{
    border-bottom: 1px solid var(--secondary-light-separator);
    display: flex;
    align-items: center;
    gap: 5px;

    label{
      padding: 0;
      margin: 0;
      color: var(--text-dark);
    }

    .input {
      &__content{
        flex: 1;

        input{
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            

            &:focus {
                box-shadow: none;
            }
        }
      }
    }
  }

  &--small{
    .input{
      &__content{
        height: 35px;

        input{
          padding: 0 10px;
          font-size: 13px;
        }
      }
    }
  }
}
