

.id-input {
  $self: &;

  label {
    margin-left: 2px;
    display: block;
    margin-bottom: 5px;
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      font-size: 13px;
      text-decoration: underline;
    }
  }

  &__content {
    height: 40px;
    position: relative;

    span{
      padding: 0 5px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      background-color: var(--secondary-dark);
      height: 80%;
      display: flex;
      align-items: center;
      font-size: 13px;
      color: var(--text-dark);
      font-weight: 500;
    }

    input {
      padding: 0 15px;
      padding-left: 60px;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      background-color: var(--secondary-dark);
      border: 1px solid var(--secondary-light);
      color: var(--text-light);
      font-weight: 400;


      &:focus {
        border-color: rgb(var(--primary-color-rgb), 0.8);
      }
    }
  }

  &--active {
    #{ $self }__content {
      border-color: var(--red);
    }
  }

  &--red {
    #{ $self } {
      &__content {
        input {
          border-color: rgba(var(--red), 0.8);
        }
      }

      &__error {
        display: block;
        margin-top: 5px;
        color: var(--red);
        font-size: 13px;
      }
    }
  }

  &--light{
    input{
      background-color: var(--secondary-light);
    }
  }

  &--id{
    input{
      background-color: var(--text-dark);
    }
  }
}
