.table__toolbar{
    padding: 0 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-left: 10px;
    height: 32px;

    &__aside{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}