

.table__toolbar{
    flex-shrink: 0;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 60px;
        border-bottom: 1px solid var(--secondary-light);
    }

    &__main{
        &__select-action{
            padding: 8px;
            display: flex;
            border-radius: 5px;
            align-items: center;
            background-color: var(--secondary-light);

            span{
                font-size: 13px;
            }

            &__options{
                margin-left: 8px;
                padding-left: 8px;
                border-left: 1px solid var(--text-dark);
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &__aside{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

@keyframes popup-show {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }