

.title-input{
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid var(--secondary-light);
  padding: 10px 0;



  .method-select{
    padding-right: 10px;
    button{
      height: 30px;
    }
  }

  > span{
    margin-left: 10px;
  }

  label{
    margin-right: 5px;
  }

  input{
    background-color: var(--background-light);
    border: none;
    color: var(--text-light);
    font-size: 14px;
    font-weight: 500;
    flex: 1;

    &::placeholder{
      font-weight: 400;
    }
  }

}