.color-picker{
  background-color: var(--background-dark);
  min-width: 260px;
  box-shadow: 0px 4px 6px -3px rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  padding: 10px;

  &__content{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;

    &__item{
      height: 30px;
      width: 30px;
      border-radius: 5px;
      position: relative;

      &--active{
        &::after{
          content: "";
          height: 7px;
          width: 7px;
          background-color: var(--text-light);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 5px;
        }
      }
    }
  }

  .input{
    input{
      background-color: var(--secondary-light);
    }
  }
}