@import "styles/variables.scss";

.textarea {
  $self: &;
  position: relative;

  label {
    margin-left: -5px;
    display: block;
    padding: 0 5px;
    color: #AEB3BD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 10;
    background-color: #21252B;
    transition: all ease 0.2s;
    pointer-events: none;
    font-size: 14px;
  }

  &--filled, &:focus-within {
    label{
      left: 15px;
      top: 0;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  &__content {
    height: 150px;
    position: relative;

    textarea {
      padding: 10px 15px;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 1px solid #4B4F55;
      color: #F0F1F3;
      font-weight: 400;
      transition: all ease 0.2s;
      resize: none;

      &:focus {
        border-color: #757980;
      }
    }
  }

  &--light{
    input{
      background-color: transparent;
      border: 1px solid #4B4F55;
    }
  }

  &--active {
    #{ $self }__content {
      border-color: red;
    }
  }

  &--error {
    #{ $self } {
      &__content {
        input {
          border-color: rgba(#F93F3E, 0.8);
        }
      }

      &__error {
        display: block;
        margin-top: 5px;
        color: #F93F3E;
        font-size: 13px;
      }
    }
  }
}
