.pill {
  padding: 0px 6px;
  height: 25px;
  background-color: transparent;
  color: #848484;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 6px;
  border-radius: 5px;
  font-weight: 500;

  //     align-items: center;
  //     background-color: #2b3441;
  //     padding: 0px 6px;
  //     border-radius: 5px;
  //     -webkit-user-select: none;
  //     user-select: none;
  //     width: fit-content;
  //     height: 23px;

  &--rounded{
    border-radius: 80px;
    border: 1px solid #3C414B;
  }

  &--read-only{
    pointer-events: none;
    cursor: default;
  }

  svg{
    height: 15px;
    width: 15px;

    path{
      fill: #848484;
    }
  }

  &:hover{
    background-color: rgba(#fff, 0.05);
  }

  &--active{
    color: #8A6FF1;
    gap: 6px;
    border-color: #8A6FF1;
    background-color: rgba(#8A6FF1, 0.15);

    svg{
      path{
        fill: #8A6FF1;
      }
    }
  }
}
