.pill {
  padding: 0 8px;
  height: 26px;
  background-color: transparent;
  border: 1px solid #3C414B;
  border-radius: 80px;
  color: #848484;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 6px;

  svg{
    height: 15px;
    width: 15px;

    path{
      fill: #848484;
    }
  }

  &:hover{
    background-color: rgba(#fff, 0.05);
  }

  &--active{
    color: #8A6FF1;
    gap: 6px;
    border-color: #8A6FF1;
    background-color: rgba(#8A6FF1, 0.15);

    svg{
      path{
        fill: #8A6FF1;
      }
    }
  }
}
