

.id-viewer{
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  color: var(--text-light);
  border-right: 1px solid var(--border-light);
  

  button{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;

    &:hover{
      color: var(--text-light);
      text-decoration: underline;
    }

    svg{
      height: 18px;
      width: 18px;
    }
  }
}