

.checkbox {
  display: flex;
  position: relative;

  &--disabled{
    opacity: 0.5;
  }

  label {
    margin-left: 0px;
    color: var(--text-light);
    line-height: 16px;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;

    @media (max-width: 620px) {
      font-size: 12px;
    }
  }

  input {
    display: none;

    &:checked {
      ~ .checkmark {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        &::after {
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-light);
    transition: background-color ease 0.2s, border-color ease 0.2s;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%) rotate(40deg) scale(0);
      transition: transform ease 0.2s;
      height: 8px;
      width: 5px;
      border-bottom: 2px solid var(--text-light);
      border-right: 2px solid var(--text-light);
    }
  }

  &--error {
    .checkmark {
      border-color: var(--red);
    }
  }

  &--no-label {
    label {
      height: 18px;
    }
  }
}