.list__no-items-found{
  display: flex;
  justify-content: center;
  height: 100%;

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
    width:fit-content;

    &__info{
      display: flex;
      align-content: center;
      justify-content: flex-start;
      gap: 8px;
      width: 100%;

      > svg{
        margin-top: 2px;
        height: 18px;
        width: 18px;
        color: #F0F1F3;
      }

      &--center{
        justify-content: center;
      }
    }
  
    &__extras{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      span{
        font-weight: 400;
      }
    }
  }
}