.method-select{
  $self: &;
  position: relative;

  > button{
    background-color: #009E77;
    width: fit-content;
    border-radius: 5px !important;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    min-width: 61px;
    gap: 5px;
    padding: 0 8px;
    width: 88px;

    &:hover {
      filter: brightness(1.1);
    }

    span{
      font-weight: 500;
      font-size: 12px;
    }

    svg{
      height: 18px;
      width: 18px;
      flex-shrink: 0;
    }
  }

    &--read-only{
      pointer-events: none;

      button{

        width: fit-content;
        justify-content: center;
      }
    }

    &__list{
      position: absolute;
      top: 35px;
      background-color: red;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;

      button{
        width: 100%;
        height: 30px;
        background-color: white;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
          filter: brightness(1.1);
        }
      }
    }

    &--small{
      button{
        padding: 0 5px;
        height: 22px;
        min-width: 45px;

        span{
          font-size: 10px;
        }
      }
    }

    &--transparent{
      &.method-select--delete{
          button{
            background-color: rgba(#F93F3E, 0.2) !important;
            span{
              color: #F93F3E;
            }
          }
      }

      &.method-select--post{
        button{
          background-color: rgba(#009E77, 0.2) !important;
          span{
            color: #009E77;
          }
        }
      }

      &.method-select--get{
        button{
          background-color: rgba(#1191FF, 0.2) !important;
          span{
            color: #1191FF;
          }
        }
      }

      &.method-select--put{
        button{
          background-color: rgba(#E97500, 0.2) !important;
          span{
            color: #E97500;
          }
        }
      }
    }
}