.icon-button-menu{
  .dropdown{
    &__button{
      &--active{
        .icon-button{
          background-color: transparent;
          
          &::before{
            opacity: 1;
          }
        }
      }
    }

    &--right{
      .dropdown__content{
        right: -5px;
      }
    }
  }
}