.request-modal{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__item{
        display: flex;
        flex-direction: column;
        
        > span{
            margin-bottom: 10px;
        }
    }
}