.placeholder-page{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper{
      max-width: 550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__header{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 30px;
          line-height: 25px;
          gap: 2px;

          svg{
              margin-bottom: 15px;
              height: 30px;
              width: 30px;
              color: var(--green);
          }
      }

      &__bottom{
          margin-top: 20px;
          display: flex;
          justify-content: center;

          a{
              text-decoration: underline;
              font-weight: 500;
          }
      }
  }
}