

.table__sort{
  svg{
    height: 12px;
    width: 12px;

    path{
      stroke: var(--text-dark);
    }
  }

  &--is-sorting{
    display: flex !important;

    svg{
      path{
        stroke: var(--text-light);
      }
    }
  }
}