@import "styles/variables.scss";

.add-media__drag-and-drop {
  &__content {
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23626A79' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      height: 18px;
      width: 18px;

      path{
        stroke: #F0F1F3
      }
    }
  }

  .button {
    margin: 0 auto;
  }

  span {
    margin: 15px 0 20px;
    color: #F0F1F3;
  }
}
