.minimize-skeleton{
  border-radius: 5px;
  height: 27px;
  width: 103px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #30353D, #5E6067 50%, #30353D 80%),
  #30353D;
  background-repeat: repeat-y;
  background-size: 50px 100%;
  background-position: -50px 0;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  to {
    background-position: calc(100% + 50px) 0;
  }
}