.minimize-skeleton{
  border-radius: 5px;
  height: 27px;
  width: 103px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--secondary-light), var(--secondary-light) 50%, var(--secondary-light) 80%),
  var(--secondary-light);
  background-repeat: repeat-y;
  background-size: 50px 100%;
  background-position: -50px 0;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  to {
    background-position: calc(100% + 50px) 0;
  }
}