

.dashboard-content-layout__breadcrumps{
  display: flex;

  &__section{
    display: flex;
    align-items: center;

    &__item{
      display: flex;
      align-items: center;
      gap: 7px;
    
      svg{
        height: 18px;
        width: 18px;
        color: var(--text-dark);
      }

      span{
        color: var(--text-dark);
      }



    }

    a{
      &:hover{
        svg{
          path{
            stroke: var(--text-light);
          }
        }

        span{
          color: var(--text-light);
        }
      }
    }

    &__separator{
      padding: 0 8px;

      svg{
        height: 18px;
        width: 18px;
        color: var(--text-dark);
      }
    }

    &:first-of-type{
      .dashboard-content-layout__breadcrumps{
        &__section{
          &__separator{
            display: none;
          }
        }
      }
    }

  }
}