

.alert{
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: rgb(var(--warning-rgb), 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;

  &__text{
    display: flex;
    align-items: center;
    gap: 10px;

    span{
      color: var(--warning);
    }

    svg{
      height: 20px;
      width: 20px;
      flex-shrink: 0;
    }
  }

  .button{
    color: var(--warning);

    &:hover{
      background-color: rgb(var(--warning-rgb), 0.1);
    }
  }
}