.editor-content{
    margin-top: -20px;
    width: 100%;

    &:hover{

        .editor-content__right__resize{
            display: flex;
        }
    }

    &__loading{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}