.table__user-profile{
  display: flex;
  align-items: center;
  gap: 10px;

  &__photo{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    overflow: hidden;

    svg{
      height: 100%;
      width: 100%;
    }

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}