

.list__endpoint-item{
  $self: &;
  height: 54px;
  background-color: var(--secondary-dark);
  border-bottom: 1px solid var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  &:hover {
    filter: brightness(1.1);
    text-decoration: none;

    #{ $self }__actions {
      display: flex;
    }
  }

  &:last-child{
    border-bottom: none;
  }

  &__label{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 420px;
    width: 100%;
  }

  &__features{
    margin-right: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;

    .tooltip{
      > span{
        text-transform: uppercase;
      }
    }



    svg{
      height: 18px;
      width: 18px;
    }
  }

  &__actions{
    display: flex;
    gap: 15px;
    display: none;
  }

  &--inactive{
    #{ $self }__label {
      opacity: 0.3;
    }

    #{ $self }__features {
      opacity: 0.3;
    }
  }
}