.email-current__settings{
    max-width: 460px;
    
    &__grid{
        display: flex;
        gap: 10px;

        &__item{
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            background-color: var(--secondary-dark);
            border: 1px solid var(--secondary-light);
            border-radius: 10px;
            max-width: 220px;
            width: 100%;

            &__label{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &:hover{
                background-color: var(--secondary-light);
            }

            svg{
                height: 20px;
                width: 20px;
            }
        }
    }
}