


.dashboard-layout-sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
  }

  &__items{
    display: flex;
    flex-direction: column;

    &__header{
      padding: 15px 15px 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span{
        color: #87909E;
        font-size: 12px;
        font-weight: 400;
       }
    }

    &:nth-child(2){
      border-top: 1px solid var(--secondary-light);
      margin-bottom: auto;
    }

    &__item{
      height: 36px;
      padding: 0px 12px;
      display: flex;
      color: var(--text-light);
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;

        svg {
          margin-right: 10px;
          width: 18px;
          height: 18px;
        }
      }

      small{
        padding: 0 4px;
        background-color: var(--primary-color);
        height: 18px;
        min-width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        font-weight: 500;
      }

      &:hover {
        background-color: rgb(var(--secondary-light-rgb), 0.3);

      }

      &--active {
        background-color: rgb(var(--primary-color-rgb), 0.2);
        
  
        span {
          color: var(--primary-color);
        }
  
        &:hover {
          background-color: rgb(var(--primary-color-rgb), 0.2);
          span {
            color: var(--primary-color);
  
            svg {
              path {
                outline: var(--primary-color);
              }
            }
          }
        }
      }

      &__external{
        display: flex;

        svg{
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
