
.table__email-sparklines{
  position: relative;
  height: 100%;
  width: 100px;
  display: flex;
  display: flex;

  .tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}