.dashboard-layout__organization-select{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  background-color: #2F3841;
  border-radius: 10px;
  overflow: hidden;

  &__current{
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    small{
      color: var(--text-dark);
    }
  }

  &__separator{
    margin: 0 auto;
    margin-top: 10px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #626D7F;
  }

  &__list{
    padding: 0 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    .dashboard-layout__avatar{

      &__text{
        span{
          color: var(--text-light) !important;
        }
      }

      &:hover{
        filter: brightness(1.2);
      }
    }
  }

  
}